<div class="notification-menu__text notification-menu__content-wrapper">
    <a href="{{ 'author_page' | page({profile_id: author.id}) }}" class="ui-link _violet">{{ author.username }}</a>, указал(а) вас соавтором в книге "<a href="{{ 'book-card' | page({book_id: coauthor.book.id}) }}" class="ui-link _violet">{{ coauthor.book.title }}</a>". Вам назначен гонорар в размере {{ coauthor.percent }}%
</div>
<button class="notification-menu__content-wrapper ui-button ui-button-size--32 ui-button-view--2" data-request="onAcceptedCoAuthorInvite" data-request-data="book_id: {{ coauthor.book.id }}" data-request-flash data-attach-loading>Принять соавторство</button>
