<div class="notification-menu__text notification-menu__content-wrapper">
    <a href="{{ 'author_page' | page({profile_id: book.author.profile.id}) }}" class="ui-link _violet">{{ book.author.profile.username }}</a> начал(а) продавать подписку на свою книгу "<a href="{{ 'book-card' | page({book_id: book.id}) }}" class="ui-link _violet">{{ book.title }}</a>"
</div>
<a href="{{ 'book-card' | page({book_id: book.id}) }}" class="notification-menu__content-wrapper ui-button ui-button-size--32 ui-button-view--2">Купить</a>
