<div class="notification-menu__text notification-menu__content-wrapper">
    {{ type_label}} главы &laquo;{{ chapter_title }}&raquo;
    книги &laquo;<a href="{{ '/about-book/' ~ book.id}}" class="ui-link _violet">{{ book.title }}</a>&raquo;
    <span style="text-decoration: underline">{{ status_label|str_lower }}</span>.
    {%  if comment %}
    <br>
    Комментарий:
    <span>{{ comment }}</span>
    {% endif %}
</div>
